body {
  font-family: changa, Arial, sans-serif;
  background-color: #f7f9fb;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #0056b3;
  color: #fff;
  font-size: 40px;
}

h1 {
  margin: 0;
}

h2 {
  background-color: #007bff;
  padding: 5px;
  margin: 5px;
  text-align: center;
  border-bottom: 1px solid #0056b3;
  color: #fff;
  font-size: 40px;
}

h5 {
  background-color: #007bff;
  margin: 0;
  padding: 0;
  text-align: center;
  border-bottom: 1px solid #0056b3;
  color: #fff;
  font-size: 18px;
}

#container-wrapper {
  padding: 20px;
  margin: 20px;
}

#real-fugitives, #real-missing {
  border: 1px solid #ccc;
  min-height: 50vh;
  max-height: 100px;
  overflow-y: auto;
  overflow-x: auto;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  flex-wrap: wrap;
}

#real-fugitives img, #real-missing img {
  margin: 20px;
  border: 2px solid #cae4ff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-height: 20vh;
  max-height: 200px;
  max-width: 200px;
  border-radius: 10px;
  object-fit: cover;
}

#fugitve-details {
  background-color: #007bff;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #0056b3;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.detail-image {
  width: 100%;
  max-width: 300px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
}

.name, .crime, .reward {
  margin: 5px 0;
}

form {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

#captured {
  background-color: #dc3545;
  width: 160px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: larger;
  color: #fff;
  border-radius: 50%;
}

